<div class="text-center">
	<h1 class="display-4">New Electronic Access Point</h1>
</div>

<br>

<%= render 'form', ea_point: @ea_point %>

<div class="text-center">
<a href="/"  class= "btn-taco-med">Home</a>
<%= link_to 'Show EAPs', ea_points_path, class: "btn-taco-med" %>
</div>
