<div class="text-center">
<h1 class="display-4">Editing Physical Security Perimeter</h1>
</div>

<br>

<%= render 'form', ps_perimeter: @ps_perimeter %>

<div class="text-center">
	<%= link_to 'Exit Editing', @ps_perimeter, class: "btn-taco-med" %>
	<%= link_to 'Show PSPs', ps_perimeters_path, class: "btn-taco-med" %>
</div>
