<div class="text-center">
<h1 class="display-4">Editing Cyber System</h1>
</div>

<br>

<%= render 'form', bes_cyber_system: @bes_cyber_system%>

<div class="text-center">
	<%= link_to 'Exit Editing', @bes_cyber_system, class: "btn-taco-med" %>
	<%= link_to 'Show Systems', bes_cyber_system_path, class: "btn-taco-med" %>
</div>