<h1>Editing Access List To Ea Point</h1>

<%= render 'form', access_list_to_ea_point: @access_list_to_ea_point %>

<%= link_to 'Show', @access_list_to_ea_point %> |
<%= link_to 'Back', access_list_to_ea_points_path %>
