<div class="text-center">
	<h1 class="display-4">Adding Access List</h1>
</div>

<br>

<%= render 'form', access_list_to_ea_point: @access_list_to_ea_point %>

<div class="text-center">
<a href="/"  class= "btn-taco-med">Home</a>
<%= link_to 'Show EAPs', ea_points_path, class: "btn-taco-med" %>
</div>
