<div class="text-center">
	<h1 class="display-4">New Electronic Security Perimeter</h1>
</div>

<br>

<%= render 'form', es_perimeter: @es_perimeter %>

<div class="text-center">
<a href="/"  class= "btn-taco-med">Home</a>
<%= link_to 'Show ESPs', es_perimeters_path, class: "btn-taco-med" %>
</div>
