<div class="text-center">
	<h1 class="display-4">New BES Asset</h1>
</div>
<br>
<%= render 'form', bes_asset: @bes_asset %>

<div class="text-center">
<a href="/"  class= "btn-taco-med">Home</a>
<%= link_to 'Show Assets', bes_assets_path, class: "btn-taco-med" %>
</div>