<h1>Editing Psp Diagrams To Ps Perimeter</h1>

<%= render 'form', psp_diagrams_to_ps_perimeter: @psp_diagrams_to_ps_perimeter %>

<%= link_to 'Show', @psp_diagrams_to_ps_perimeter %> |
<%= link_to 'Back', psp_diagrams_to_ps_perimeters_path %>
