<h1>Editing Network Top To Es Perimeter</h1>

<%= render 'form', network_top_to_es_perimeter: @network_top_to_es_perimeter %>

<%= link_to 'Show', @network_top_to_es_perimeter %> |
<%= link_to 'Back', network_top_to_es_perimeters_path %>
