<div class="text-center">
<h1 class="display-4">Editing Cyber Asset</h1>
</div>

<br>

<%= render 'form', bes_cyber_asset: @bes_cyber_asset %>

<div class="text-center">
	<%= link_to 'Exit Editing', @bes_cyber_asset, class: "btn-taco-med" %>
	<%= link_to 'Show Assets', bes_cyber_assets_path, class: "btn-taco-med" %>
</div>